.dashBoard-Box {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;
  height: 100%;
  position: relative;
  transition: 0.4s;
  transform-style: preserve-3d;
}
.dashBoard-Box li img.notSelectedImg {
  width: 50px;
}
